@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <MudDialogProvider />         
    <MudSnackbarProvider 
        MaxDisplayedSnackbars="3"
        PreventDuplicates="true"
        Position="SnackbarPosition.BottomRight"
        SnackbarVariant="Variant.Filled"
        HideTransitionDuration="500"
        ShowTransitionDuration="500"
        VisibleStateDuration="3000" />

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

